<div class='modal-img-container'>
  <img
    class='modal-poster'
    src='https://image.tmdb.org/t/p/original{{poster_path}}'
    alt='{{original_title}}'
    data-id='{{id}}'
    data-src='https://image.tmdb.org/t/p/original{{poster_path}}'
  />
</div>

<div class='modal-data'>
  <h2 class='modal-title'>{{title}}</h2>
  <ul class='movie-cardinfo-list'>
    <li class='movie-cardinfo-list-item'>
      <h3 class='movie-cardinfo-title'>Vote / Votes</h3>
      <p class='movie-cardcontent-item'><span class='movie-cardvote'>{{vote_average}}</span>
        /
        {{vote_count}}</p>
    </li>
    <li class='movie-cardinfo-list-item'>
      <h3 class='movie-cardinfo-title'>Popularity</h3>
      <p class='movie-cardcontent-item'>{{popularity}}</p>
    </li>
    <li class='movie-cardinfo-list-item'>
      <h3 class='movie-cardinfo-title'>Original Title</h3>
      <p class='movie-cardcontent-item'>{{original_title}}</p>
    </li>
    <li class='movie-cardinfo-list-item'>
      <h3 class='movie-cardinfo-title'>Genre</h3>
      <p class='movie-cardcontent-item'>{{#each genres}} {{name}} {{/each}}</p>
    </li>
  </ul>

  <p class='modal-overview-title'>About</p>
  <p class='modal-overview'>{{overview}}</p>
  <div class='modal-buttons js-modal-buttons'>
    <button class='modal-buttons-watched js-watched' type='button' data-action='add'>
      Add to watched
    </button>
    <button class='modal-buttons-queue js-queue' type='button' data-action='add'>
      Add to queue
    </button>
  </div>
</div>